

.circular-image-main-section{
    width:180px;
    height:180px;
    position: absolute;
    top:45%;
    left:90%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
}
.circular-image-main-section > div{
    width:80%;
    height:80%;
    background-color: rgb(216, 216, 216);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 
}
.circular-image-main-section > div > img{
    width:120%;
    height:120%;
    object-fit:contain;
    margin-left:40px;
    margin-top:50px;
    filter:brightness(1.3)
}

@media only screen and (max-width: 600px) {
    .circular-image-main-section{
        width:165px;
        height:165px;
        top:18%;
        left:47%;
        background-color:transparent;
        display: none;
    }
    .circular-image-main-section > div{
        width:100%;
        height:100%;     
        background-color: rgb(91, 91, 91);
    }
    .circular-image-main-section > div > img{
        width:120%;
        height:120%;
        object-fit:contain;
        margin-left:40px;
        margin-top:50px;
        filter:brightness(1.2);
        filter:grayscale(80%);
    }

}