

.navbar-main-container-wrapper{
    
}
.navbar-main-container-wrapper  ul{
    display: flex;
    gap:20px;
    height:10vh;
    align-items: center;
}
.navbar-main-container-wrapper > ul li{
    list-style-type:none;
}
.navbar-main-container-wrapper > ul li a{
    color:white;
    text-decoration: none;
}
.navbar-icon{
    display: none;
}
.navbar-main-container-wrapper > ul li a:hover{
    color:rgb(218, 218, 218);
}
.navbar-main-container-wrapper > ul li >.active{
    position:relative;
}
.navbar-main-container-wrapper > ul li > .active::after{
    position:absolute;
    content:'';
    width:100%;
    height:2px;
    background-color: orange;
    bottom:-4px;
    left:0px;
    transition:all 1s ease-in-out;
    animation-name: barLeftToRight;
    border-radius:3px;
    animation-duration:0.3s;
}
@keyframes barLeftToRight{
    from {width:0;}
    to {width:100%;}
  }



  @media only screen and (max-width: 600px) {
    
        .navbar-main-container-wrapper{
            all:unset;
            width:100%;
            height:10vh;
            position: fixed;
            bottom:0px;
            background-color: rgb(81, 81, 81);
            z-index:99999;
            border-radius:10px 10px 0px 0px;
        }
        .navbar-main-container-wrapper > ul{
            all: unset;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .navbar-main-container-wrapper > ul li> a{
           font-weight:600;
           font-size:14px;
           all: unset;
           font-size:1px;
           visibility: hidden;
        }
        .navbar-main-container-wrapper > ul li > .active::after{
            bottom:-21px;
     
        }
        .navbar-icon{
           visibility: visible !important;
            display: block !important;
            font-size:1.5rem;
            background-color: rgb(240, 240, 240);
            color:rgb(40, 40, 40);
            width:40px;
            height:40px;
            padding:10px;
            border-radius:50%;
            transition:all 0.2s ease-in;
        }
        .active .navbar-icon {
            background-color: rgb(255, 183, 148);
            transform: scale(1.3);
        }

  }