

.short-intro-main-section{
    overflow: hidden;
    height:75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(254, 252, 248);
    font-size:2em;
 
}
.mobile-device-about-me-title{
    display: none;
}
.short-image-main-section{
    display: none;
}
.short-intro-main-section > h1{
   color:rgb(255, 112, 50);
}
.short-intro-main-section > h3{
    font-size:1.5rem;
}
.short-intro-main-section > p{
    width:80%;
    font-size:1rem;
    margin-top:10px;
    color:rgb(255, 255, 255);
}


@media only screen and (max-width: 600px) {
    .short-image-main-section{
        display: block;
        overflow: hidden;
        background-color: rgb(177, 147, 234);
        display: flex;
        align-items:flex-start;
        height:300px;
        padding:0px 10px;
        background-position:100%;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .short-image-main-section div:nth-child(1){
        width:50%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border:2px solid green; */
    }
    .short-image-main-section div:nth-child(2){
        width:50%;
        height:100%;
        position: relative;
    }
    .short-image-main-section >div > h1{
        font-size:2em;
        word-wrap: break-word;
        text-align:left;
    }
    .short-image-main-section  >div> h2{
        font-size:0.8em;
        word-wrap: break-word;

    }
    .short-image-main-section div:nth-child(2) img{
        width:100%;
        height:90%;
        object-fit:cover;
        filter:brightness(1.3);
        filter:drop-shadow(20px 10px rgba(36, 36, 36, 0.471));
        position: absolute;
        left:0px;
        bottom:0px;

    }
    .short-intro-main-section{
        all: unset;
        width:100%;
        overflow: hidden;
        padding:13px;
        /* background-color: rgb(16, 16, 16); */
        
    }
    .short-intro-main-section > h1{
        display: none;

    }
    .short-intro-main-section > h2{
        display: none;
        
    }
    .short-intro-main-section > h3{
        display: none;
    }
    .mobile-device-about-me-title{
        display: block !important;
        font-size:1.3rem;
        margin-top:20px;
        color:rgb(255, 255, 255) !important;

    }
    .short-intro-main-section > p{
        width:100%;
        font-size:1.2rem;
        text-align: justify;
        color:rgb(173, 173, 173);
    }


}